@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);

body {
font-family: "Audiowide", sans-serif;
padding: 0;
margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}
/* *******************************NAVBAR***************************** */
nav {
overflow: hidden;
background-color:brown;
border: solid 5px #000;
position: fixed;
margin: 25px 25px;
width: 10%;
opacity: 0.8;
}
header li {
   float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Sofia', sans-serif;
    font-weight: bold;
    float: left;
}

/* *******************************IMAGE PRINCIPALE***************************** */
#imagePrincipale{
    padding-top: 60px;
    background: url(photoguilde.jpg) no-repeat fixed 50% 50%;
    background-size: cover; 
    height: 800px;
}
h1 {
    font-family: 'Sofia', sans-serif;
    text-align: center;
    color: rgb(212, 25, 12);
    font-size: 10em;
    margin-top: 70px;
text-shadow: 8px 4px 6px black;
}
#premierTrait{
    height: 4px;
    width: 25%;
    margin: -3px auto;
    background-color: red;
   box-shadow: 5px 3px 3px black;
}

h3{
    font-family: 'Sofia', sans-serif;
    text-align: center;
    color: rgb(212, 25, 12);
    font-size: 5em;
    margin-top: 70px;
    text-shadow: 8px 4px 6px black;
 }


    #presentation{
        background-color: FFFAE1;
        padding: 10px 10px 100xp 0px 
    }


    #texteintro{
        padding-left: 20%;
        padding-right: 20%;
        font-size: large;
    }

/* *******************************PROBLEME EN BAS***************************** */

#presentation {

   
    text-decoration: none;
    text-align: center;
    margin-bottom: 2px;
    margin-right: 2px;
}

/* *******************************PROBLEME EN HAUT***************************** */
.imagesprestations h4 {
  font-family: 'Sofia', sans-serif;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: bold;
}

.imagesprestations img {
    border-radius: 10px;
    box-shadow: 6px 6px 4px 2px rgba(0,0,0,0.7)
}

.imagesprestations img:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}


#deuxiemeTrait{
    height: 1px;
    width: 75%;
    background-color: red;
    margin: 60px auto;
}










