#imagePrincipale{
    padding-top: 60px;
    background: url(media/armors.jpg) no-repeat fixed 50% 50%;
    background-size: cover; 
    height: 800px;
}
h1 {
    font-family: 'Sofia', sans-serif;
    text-align: center;
    color: #ff0000;
    font-size: 5em;
    margin-top: 70px;
	text-shadow: 8px 4px 6px black;
}

#labelErreur {    
	font-size: 1.2em;
    color: #ff0000;
}

#premierTrait{
    height: 4px;
    width: 25%;
    margin: -3px auto;
    background-color: rgb(179, 24, 24);
   box-shadow: 5px 3px 3px black;
}

.croixSup{
	height:25px;
    width: 25px;
	
	
}

h3{
    font-family: 'Sofia', sans-serif;
    text-align: center;
    color: rgb(212, 25, 12);
    font-size: 5em;
    margin-top: 70px;
    text-shadow: 8px 4px 6px black;
 }


    #presentation{
        background-color: FFFAE1;
        padding: 10px 10px 100xp 0px 
    }


    #texteintro{
        padding-left: 20%;
        padding-right: 20%;
        font-size: large;
    }
